[user]
	name = James Walker
	email = walkah@walkah.net
	signingkey = 4D47A81C
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status -s
	smu = submodule update --init --recursive
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	up = pull --rebase --autostash
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[github]
	user = walkah
[git-up "bundler"]
	check = true
	autoinstall = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[commit]
	gpgsign = true
[pull]
	rebase = false
