[user]
	name = James Walker
	email = walkah@walkah.net
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status -s
	smu = submodule update --init --recursive
[github]
	user = walkah
[git-up "bundler"]
	check = true
	autoinstall = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
